# Dataset
data/
!data/.keep

# checkpoints
checkpoints/
*.pth
*.pt

# Python cache
__pycache__/
*.pyc
.pytest_cache/

# Virtual environments (if any)
venv/
env/
.env

# IDE config
.vscode/
.idea/

# system file
.DS_Store
